<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>

<body>
    <center>

        <form class="grid" action="/output" method="GET">
            <p>Question</p>
            {% if query %}
            <h3> {{query}}</h3>
            {% endif %}
            <p>
                Recording Complete. Click on the button to listen to Chat GPT answer
            </p>
            <input type="Submit" class="file_submit" value="Listen to Result" />

        </form>
    </center>
</body>

</html>